@font-face {
  font-family: 'Montserrat Bold';
  src: url(../fonts/montserrat-700.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Regular';
  src: url(../fonts/montserrat-400.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Vesper Libre */
@font-face {
  font-family: 'Vesper Libre Regular';
  src: url(../fonts/vesperlibre-400.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Vesper Libre Medium';
  src: url(../fonts/vesperlibre-500.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Vesper Libre Bold';
  src: url(../fonts/vesperlibre-700.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
