/* line 1, ../sass/reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 22, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 26, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/reset.scss */
nav ul {
  list-style: none;
}

/* line 35, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 54, ../sass/reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 61, ../sass/reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 68, ../sass/reset.scss */
del {
  text-decoration: line-through;
}

/* line 72, ../sass/reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 77, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 83, ../sass/reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 92, ../sass/reset.scss */
input, select {
  vertical-align: middle;
}

/* line 9, ../sass/style.scss */
html, body {
  overflow: scroll;
  width: 100%;
  height: auto;
  min-width: 960px;
}

/* line 15, ../sass/style.scss */
#title {
  text-align: center;
  font-family: 'Varela Round', helvetica, sans-serif;
  font-size: 40px;
  color: #e8561e;
  margin-bottom: 25px;
}

/* line 23, ../sass/style.scss */
header {
  overflow: hidden;
  position: fixed;
  width: Calc(100% - 50px);
  min-width: 960px;
  padding: 20px 25px;
  padding-bottom: 10px;
  background-color: #fff;
  z-index: 100;
}
/* line 32, ../sass/style.scss */
header #site-title {
  float: left;
}
/* line 34, ../sass/style.scss */
header #site-title a {
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
/* line 42, ../sass/style.scss */
header #menu {
  float: right;
}
/* line 44, ../sass/style.scss */
header #menu .menu-item {
  float: left;
  padding: 10px;
}
/* line 47, ../sass/style.scss */
header #menu .menu-item a {
  font-family: 'Roboto';
  color: #000;
  text-decoration: none;
  font-size: 18px;
}
/* line 53, ../sass/style.scss */
header #menu .menu-item a:hover {
  color: #e8561e;
}
/* line 56, ../sass/style.scss */
header #menu .menu-item .is-active {
  color: #e8561e;
}

/* line 63, ../sass/style.scss */
main {
  overflow: scroll;
  margin-top: 73px;
  padding-bottom: 50px;
}

/* line 70, ../sass/style.scss */
#home #slider-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
  border-bottom: 4px solid #6bbaa7;
}
/* line 76, ../sass/style.scss */
#home #slider-wrapper .slider-image {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  text-align: center;
  z-index: 0;
  transition: opacity 800ms ease-in-out;
  background-color: #fff;
}
/* line 88, ../sass/style.scss */
#home #slider-wrapper .slider-image img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  margin-top: -50%;
  transform: translateY(50%);
  opacity: 0.8;
}
/* line 98, ../sass/style.scss */
#home #slider-wrapper .slider-image.fadeout {
  opacity: 0;
}
/* line 101, ../sass/style.scss */
#home #slider-wrapper .slider-image.fadein {
  opacity: 1;
}
/* line 104, ../sass/style.scss */
#home #slider-wrapper .slider-image:first-of-type {
  z-index: 2;
}
/* line 108, ../sass/style.scss */
#home #slider-wrapper #slider-nav {
  display: flex;
  position: absolute;
  align-items: center;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
/* line 116, ../sass/style.scss */
#home #slider-wrapper #slider-nav .slider-nav-button {
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 20px;
  background-color: #e8561e;
  transition: 1s all ease-in-out;
}
/* line 125, ../sass/style.scss */
#home #slider-wrapper #slider-nav .current {
  width: 15px;
  height: 15px;
}
/* line 131, ../sass/style.scss */
#home #home-description {
  position: absolute;
  width: Calc(50% - 50px);
  left: 25%;
  top: 50%;
  transform: translateY(-50%);
  padding: 25px;
  font-size: 21px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 141, ../sass/style.scss */
#home #home-description p {
  line-height: normal;
  font-family: "Gentium Basic", serif;
  margin-bottom: 25px;
}
/* line 146, ../sass/style.scss */
#home #home-description a {
  font-family: 'Roboto', helvetica, sans-serif;
  color: #e8561e;
}
/* line 151, ../sass/style.scss */
#home #locations {
  float: left;
  width: Calc(100% - 50px);
  padding: 25px;
  overflow: hidden;
}
/* line 156, ../sass/style.scss */
#home #locations .location {
  float: left;
  width: Calc(50% - 13px);
  margin-top: 25px;
  margin-right: 25px;
  text-align: center;
}
/* line 162, ../sass/style.scss */
#home #locations .location iframe {
  width: 100%;
  height: 250px;
}
/* line 166, ../sass/style.scss */
#home #locations .location .location-title {
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #6bbaa7;
}
/* line 173, ../sass/style.scss */
#home #locations .location .address {
  font-family: "Gentium Basic", serif;
  font-size: 18px;
  margin-bottom: 25px;
}
/* line 179, ../sass/style.scss */
#home #locations .location:last-of-type {
  margin-right: 0px;
}

/* line 186, ../sass/style.scss */
#About #about-graphic {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 40%;
  height: Calc(100% - 76px);
}
/* line 192, ../sass/style.scss */
#About #about-graphic img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25%;
  width: 50%;
  height: auto;
}
/* line 201, ../sass/style.scss */
#About #about-text {
  float: right;
  width: Calc(60% - 25px);
  padding-top: 50px;
  padding-right: 25px;
}
/* line 207, ../sass/style.scss */
#About #about-text #about-title {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 25px;
  font-family: 'Varela Round', helvetica, sans-serif;
  font-size: 40px;
  color: #e8561e;
}
/* line 215, ../sass/style.scss */
#About #about-text p {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 25px;
  line-height: normal;
}

/* line 225, ../sass/style.scss */
#Services #services-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 25px;
}
/* line 231, ../sass/style.scss */
#Services #services-container .service {
  float: left;
  width: Calc(33% - 50px);
  padding: 25px;
}
/* line 235, ../sass/style.scss */
#Services #services-container .service .title {
  margin-bottom: 10px;
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #6bbaa7;
}
/* line 242, ../sass/style.scss */
#Services #services-container .service .description {
  font-family: "Gentium Basic", serif;
  font-size: 21px;
}
/* line 248, ../sass/style.scss */
#Services #services-photo {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 75px;
  border-bottom: 4px solid #e8561e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
/* line 260, ../sass/style.scss */
#Services #ailments {
  position: relative;
  padding: 25px;
  width: 100%;
}
/* line 264, ../sass/style.scss */
#Services #ailments .bowl-image {
  float: left;
  width: 30%;
  text-align: center;
}
/* line 268, ../sass/style.scss */
#Services #ailments .bowl-image img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: -50%;
  transform: translateY(50%);
}
/* line 276, ../sass/style.scss */
#Services #ailments #ailments-description {
  float: left;
  width: 40%;
  margin-bottom: 50px;
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: normal;
}
/* line 285, ../sass/style.scss */
#Services #ailments #ailments-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
/* line 289, ../sass/style.scss */
#Services #ailments #ailments-container .ailment {
  display: inline-block;
  padding: 10px;
  margin: 12px 12px;
  border-radius: 50px;
  font-family: 'Roboto', helvetica, sans-serif;
  background-color: #6bbaa7;
  color: #000;
}

/* line 302, ../sass/style.scss */
#contact {
  padding-bottom: 50px;
}
/* line 304, ../sass/style.scss */
#contact #contact-wrap {
  width: 100%;
  margin-top: 50px;
}
/* line 307, ../sass/style.scss */
#contact #contact-wrap #contacts {
  float: left;
  overflow: hidden;
  width: Calc(50% - 25px);
  padding-left: 25px;
  padding-top: 25px;
}
/* line 313, ../sass/style.scss */
#contact #contact-wrap #contacts .contact {
  float: left;
}
/* line 315, ../sass/style.scss */
#contact #contact-wrap #contacts .contact .title {
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #6bbaa7;
  margin-bottom: 10px;
}
/* line 322, ../sass/style.scss */
#contact #contact-wrap #contacts .contact a {
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 21px;
  color: #000;
}
/* line 328, ../sass/style.scss */
#contact #contact-wrap #contacts .contact:first-of-type {
  margin-right: 25px;
}
/* line 332, ../sass/style.scss */
#contact #contact-wrap #contact-description {
  float: left;
  overflow: hidden;
  width: Calc(50% - 50px);
  padding: 25px;
}
/* line 337, ../sass/style.scss */
#contact #contact-wrap #contact-description p {
  float: left;
  width: 80%;
}
/* line 343, ../sass/style.scss */
#contact #locations {
  overflow: hidden;
  width: Calc(100% - 50px);
  padding: 25px;
}
/* line 347, ../sass/style.scss */
#contact #locations .location {
  float: left;
  width: Calc(50% - 25px);
}
/* line 350, ../sass/style.scss */
#contact #locations .location iframe {
  width: 100%;
  height: 250px;
}
/* line 354, ../sass/style.scss */
#contact #locations .location .location-title {
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #6bbaa7;
}
/* line 361, ../sass/style.scss */
#contact #locations .location .address {
  font-family: "Gentium Basic", serif;
  font-size: 18px;
}
/* line 366, ../sass/style.scss */
#contact #locations .location:first-of-type {
  margin-right: 25px;
}
/* line 369, ../sass/style.scss */
#contact #locations .location:last-of-type {
  padding-left: 25px;
}

/* line 375, ../sass/style.scss */
#forms {
  width: 100%;
  padding-top: 50px;
}
/* line 378, ../sass/style.scss */
#forms .form {
  float: left;
  width: 33%;
  margin: 50px 0;
  text-align: center;
}
/* line 383, ../sass/style.scss */
#forms .form .form-inner {
  display: inline-block;
  text-align: left;
}
/* line 386, ../sass/style.scss */
#forms .form .form-inner .icon {
  float: left;
  width: 50px;
  height: auto;
  padding-right: 10px;
}
/* line 391, ../sass/style.scss */
#forms .form .form-inner .icon svg {
  fill: #6bbaa7;
}
/* line 395, ../sass/style.scss */
#forms .form .form-inner .title {
  color: #6bbaa7;
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 18px;
}
/* line 400, ../sass/style.scss */
#forms .form .form-inner .description {
  padding-top: 10px;
  width: 250px;
  font-family: "Gentium Basic", serif;
  font-size: 18px;
}

@media only screen and (max-device-width: 736px) {
  /* line 2, ../sass/mobile.scss */
  html, body, header {
    min-width: 0px;
  }

  /* line 7, ../sass/mobile.scss */
  header #site-title {
    float: none;
    width: 100%;
    text-align: center;
  }
  /* line 12, ../sass/mobile.scss */
  header #menu {
    overflow: hidden;
    float: none;
    width: 100%;
    text-align: center;
    background-color: #fff;
  }
  /* line 18, ../sass/mobile.scss */
  header #menu .menu-item {
    float: none;
    display: inline-block;
  }
  /* line 21, ../sass/mobile.scss */
  header #menu .menu-item a {
    font-size: 12px;
  }

  /* line 27, ../sass/mobile.scss */
  main {
    margin-top: 94px;
    padding-bottom: 25px;
  }

  /* line 33, ../sass/mobile.scss */
  #home #slider-wrapper {
    height: 300px;
  }
  /* line 36, ../sass/mobile.scss */
  #home #slider-wrapper .slider-image img {
    min-width: 500px;
    margin-top: 50%;
    transform: translateY(-50%);
  }
  /* line 43, ../sass/mobile.scss */
  #home #home-description {
    width: Calc(80% - 50px);
    left: 10%;
    font-size: 21px;
  }
  /* line 47, ../sass/mobile.scss */
  #home #home-description a {
    font-size: 18px;
  }
  /* line 52, ../sass/mobile.scss */
  #home #locations .location {
    width: 100%;
    margin-bottom: 25px;
  }
  /* line 55, ../sass/mobile.scss */
  #home #locations .location iframe {
    margin-bottom: 10px;
  }

  /* line 63, ../sass/mobile.scss */
  #About #about-graphic {
    position: relative;
    overflow: hidden;
    float: none;
    width: 100%;
    height: 200px;
    text-align: center;
  }
  /* line 70, ../sass/mobile.scss */
  #About #about-graphic img {
    position: relative;
    display: inline-block;
    left: 0;
    width: 150px;
    height: auto;
  }
  /* line 78, ../sass/mobile.scss */
  #About #about-text {
    float: none;
    width: 100%;
    padding-right: 0;
  }
  /* line 82, ../sass/mobile.scss */
  #About #about-text #about-title {
    text-align: center;
  }

  /* line 90, ../sass/mobile.scss */
  #Services #services-container .service {
    float: none;
    width: Calc(100% - 20px);
    padding: 25px 10px;
    text-align: center;
  }
  /* line 97, ../sass/mobile.scss */
  #Services #ailments {
    width: Calc(100% - 20px);
    padding: 25px 10px;
  }
  /* line 100, ../sass/mobile.scss */
  #Services #ailments .bowl-image {
    float: none;
    width: 100%;
    height: 100px;
    display: none;
  }
  /* line 106, ../sass/mobile.scss */
  #Services #ailments #ailments-description {
    width: 100%;
  }
  /* line 109, ../sass/mobile.scss */
  #Services #ailments .bowl-image:first-of-type {
    display: block;
  }
  /* line 112, ../sass/mobile.scss */
  #Services #ailments #ailments-container {
    width: 100%;
  }
  /* line 114, ../sass/mobile.scss */
  #Services #ailments #ailments-container .ailment {
    font-size: 21px;
  }

  /* line 122, ../sass/mobile.scss */
  #contact #contact-wrap {
    overflow: hidden;
  }
  /* line 124, ../sass/mobile.scss */
  #contact #contact-wrap #contacts {
    float: none;
    width: Calc(100% - 20px);
    padding: 25px 10px;
    text-align: center;
  }
  /* line 129, ../sass/mobile.scss */
  #contact #contact-wrap #contacts .contact {
    margin-bottom: 25px;
    float: none;
  }
  /* line 133, ../sass/mobile.scss */
  #contact #contact-wrap #contacts .contact:first-of-type {
    margin-right: 0px;
  }
  /* line 137, ../sass/mobile.scss */
  #contact #contact-wrap #contact-description {
    width: Calc(100% - 20px);
    padding: 25px 10px;
    text-align: center;
  }
  /* line 141, ../sass/mobile.scss */
  #contact #contact-wrap #contact-description p {
    width: 100%;
  }
  /* line 147, ../sass/mobile.scss */
  #contact #locations .location {
    width: 100%;
    margin-bottom: 25px;
  }
  /* line 150, ../sass/mobile.scss */
  #contact #locations .location iframe {
    margin-bottom: 10px;
  }
  /* line 154, ../sass/mobile.scss */
  #contact #locations .location:last-of-type {
    padding-left: 0px;
    margin-top: 50px;
  }

  /* line 162, ../sass/mobile.scss */
  #forms .form {
    width: 100%;
    float: none;
  }
}
