/* line 1, ../sass/reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 22, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 26, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/reset.scss */
nav ul {
  list-style: none;
}

/* line 35, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 54, ../sass/reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 61, ../sass/reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 68, ../sass/reset.scss */
del {
  text-decoration: line-through;
}

/* line 72, ../sass/reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 77, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 83, ../sass/reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 92, ../sass/reset.scss */
input, select {
  vertical-align: middle;
}

/* line 10, ../sass/style.scss */
html, body {
  width: 100%;
  height: auto;
  min-width: 960px;
}

/* line 16, ../sass/style.scss */
html {
  overflow: scroll;
}

/* line 20, ../sass/style.scss */
body {
  overflow: auto;
}

/* line 24, ../sass/style.scss */
header {
  overflow: hidden;
  position: fixed;
  width: Calc(100% - 50px);
  min-width: 960px;
  height: 60px;
  padding: 0px 25px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
}
/* line 34, ../sass/style.scss */
header #site-title {
  float: left;
  height: 60px;
}
/* line 37, ../sass/style.scss */
header #site-title a {
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 60px;
  color: #000;
  text-decoration: none;
}
/* line 46, ../sass/style.scss */
header #menu {
  float: right;
  height: 60px;
}
/* line 49, ../sass/style.scss */
header #menu .menu-item {
  float: left;
  padding: 0 10px;
}
/* line 52, ../sass/style.scss */
header #menu .menu-item a {
  font-family: 'Roboto';
  color: #000;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
}
/* line 59, ../sass/style.scss */
header #menu .menu-item a:hover {
  color: #e8561e;
}
/* line 62, ../sass/style.scss */
header #menu .menu-item .is-active {
  color: #e8561e;
}

/* line 69, ../sass/style.scss */
main {
  overflow: hidden;
  padding-top: 60px;
}

/* line 74, ../sass/style.scss */
main.top-space {
  padding-top: 100px;
}

/* line 79, ../sass/style.scss */
#home #slider-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 450px;
  border-bottom: 4px solid #6bbaa7;
  margin-bottom: 100px;
}
/* line 86, ../sass/style.scss */
#home #slider-wrapper .slider-image {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  text-align: center;
  z-index: 0;
  transition: opacity 800ms ease-in-out;
  background-color: #fff;
}
/* line 98, ../sass/style.scss */
#home #slider-wrapper .slider-image img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  margin-top: -50%;
  transform: translateY(50%);
  opacity: 0.6;
}
/* line 108, ../sass/style.scss */
#home #slider-wrapper .slider-image.fadeout {
  opacity: 0;
}
/* line 111, ../sass/style.scss */
#home #slider-wrapper .slider-image.fadein {
  opacity: 1;
}
/* line 114, ../sass/style.scss */
#home #slider-wrapper .slider-image:first-of-type {
  z-index: 2;
}
/* line 118, ../sass/style.scss */
#home #slider-wrapper #slider-nav {
  display: flex;
  position: absolute;
  align-items: center;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
/* line 126, ../sass/style.scss */
#home #slider-wrapper #slider-nav .slider-nav-button {
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 20px;
  background-color: #e8561e;
  transition: 1s all ease-in-out;
}
/* line 135, ../sass/style.scss */
#home #slider-wrapper #slider-nav .current {
  width: 15px;
  height: 15px;
}
/* line 140, ../sass/style.scss */
#home #slider-wrapper #slider-tagline {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  opacity: 0.7;
  font-family: "Roboto", helvetica, sans-serif;
  font-weight: 700;
}
/* line 151, ../sass/style.scss */
#home #slider-wrapper #slider-tagline span {
  line-height: 450px;
  color: #e8561e;
}
/* line 155, ../sass/style.scss */
#home #slider-wrapper #slider-tagline .circle {
  display: inline-block;
  border-radius: 100px;
  transform: translateY(-50%);
  margin: 0 15px;
  height: 20px;
  width: 20px;
  background-color: #e8561e;
}
/* line 166, ../sass/style.scss */
#home #home-intro {
  position: relative;
  overflow: hidden;
  width: 900px;
  margin: 0 auto;
  margin-bottom: 75px;
}
/* line 172, ../sass/style.scss */
#home #home-intro #home-intro-description {
  width: 500px;
  float: left;
  margin-right: 75px;
}
/* line 176, ../sass/style.scss */
#home #home-intro #home-intro-description p {
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 25px;
}
/* line 184, ../sass/style.scss */
#home #home-intro #home-intro-contact {
  width: 325px;
  padding-top: 10px;
  float: left;
}
/* line 188, ../sass/style.scss */
#home #home-intro #home-intro-contact a {
  display: inline-block;
  padding: 6px 10px;
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 21px;
  color: #000;
  background-color: #6bbaa7;
}
/* line 196, ../sass/style.scss */
#home #home-intro #home-intro-contact a:first-of-type {
  margin-bottom: 24px;
}
/* line 201, ../sass/style.scss */
#home #locations {
  float: left;
  width: Calc(100% - 50px);
  padding: 100px 25px;
  overflow: hidden;
  background-color: #6bbaa7;
  padding-bottom: 100px;
}
/* line 208, ../sass/style.scss */
#home #locations .location {
  float: left;
  width: Calc(50% - 13px);
  margin-top: 25px;
  margin-right: 25px;
  text-align: center;
}
/* line 214, ../sass/style.scss */
#home #locations .location iframe {
  width: 450px;
  height: 350px;
  margin: 0 auto;
}
/* line 219, ../sass/style.scss */
#home #locations .location .location-title {
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 36px;
  color: #000;
}
/* line 226, ../sass/style.scss */
#home #locations .location .address {
  font-family: "Slabo 27px", serif;
  font-size: 18px;
  margin-bottom: 25px;
}
/* line 232, ../sass/style.scss */
#home #locations .location:last-of-type {
  margin-right: 0px;
}

/* line 238, ../sass/style.scss */
#About {
  padding-bottom: 100px;
}
/* line 240, ../sass/style.scss */
#About #about-text {
  width: 650px;
  margin: 0 auto;
  padding-top: 50px;
}
/* line 244, ../sass/style.scss */
#About #about-text #about-graphic {
  position: relative;
  float: left;
  width: 175px;
  height: auto;
  padding-bottom: 5px;
  padding-right: 20px;
}
/* line 251, ../sass/style.scss */
#About #about-text #about-graphic img {
  width: 300px;
  height: auto;
  transform: translateX(-150px);
}
/* line 257, ../sass/style.scss */
#About #about-text p {
  width: 650px;
  margin: 0 auto;
  margin-bottom: 36px;
  font-family: "Slabo 27px", serif;
  font-size: 21px;
  line-height: 42px;
  letter-spacing: 0px;
}

/* line 270, ../sass/style.scss */
#Services #services-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
}
/* line 276, ../sass/style.scss */
#Services #services-container .service {
  float: left;
  width: Calc(33% - 50px);
  padding: 25px;
}
/* line 280, ../sass/style.scss */
#Services #services-container .service .title {
  margin-bottom: 24px;
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #6bbaa7;
}
/* line 287, ../sass/style.scss */
#Services #services-container .service .description {
  font-family: "Slabo 27px", serif;
  font-size: 18px;
  line-height: 32px;
  color: #000;
}
/* line 295, ../sass/style.scss */
#Services #services-photo {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 100px;
  border-bottom: 4px solid #e8561e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
/* line 307, ../sass/style.scss */
#Services #ailments {
  position: relative;
  padding: 25px;
  width: Calc(100% - 50px);
}
/* line 311, ../sass/style.scss */
#Services #ailments .bowl-image {
  float: left;
  width: 20%;
  text-align: center;
}
/* line 315, ../sass/style.scss */
#Services #ailments .bowl-image img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: -50%;
  transform: translateY(50%);
}
/* line 323, ../sass/style.scss */
#Services #ailments #ailments-description {
  float: left;
  width: 60%;
  margin-bottom: 100px;
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}
/* line 331, ../sass/style.scss */
#Services #ailments #ailments-description .ailment {
  display: inline-block;
  margin-bottom: 10px;
  transform: translateY(-5px);
  padding: 0px 10px;
  border-radius: 20px;
  font-size: 12px;
  line-height: 36px;
  background-color: #6bbaa7;
  color: #fff;
}
/* line 343, ../sass/style.scss */
#Services #ailments #ailments-container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
/* line 347, ../sass/style.scss */
#Services #ailments #ailments-container .ailment {
  display: inline-block;
  padding: 10px;
  margin: 24px 24px;
  border-radius: 50px;
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 18px;
  background-color: #6bbaa7;
  color: #000;
}

/* line 361, ../sass/style.scss */
#contact {
  text-align: center;
}
/* line 363, ../sass/style.scss */
#contact #contact-wrap {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
}
/* line 367, ../sass/style.scss */
#contact #contact-wrap #contacts {
  display: inline-block;
  overflow: hidden;
  width: 300px;
  padding-top: 15px;
  padding-bottom: 5px;
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: left;
}
/* line 376, ../sass/style.scss */
#contact #contact-wrap #contacts .contact {
  width: 225px;
  float: left;
}
/* line 379, ../sass/style.scss */
#contact #contact-wrap #contacts .contact .title {
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #6bbaa7;
  margin-bottom: 10px;
}
/* line 386, ../sass/style.scss */
#contact #contact-wrap #contacts .contact a {
  padding: 6px 10px;
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 21px;
  color: #000;
  background-color: #6bbaa7;
}
/* line 394, ../sass/style.scss */
#contact #contact-wrap #contacts .contact:first-of-type {
  margin: 25px 0;
}
/* line 398, ../sass/style.scss */
#contact #contact-wrap #contact-description {
  vertical-align: top;
  display: inline-block;
  overflow: hidden;
  width: 500px;
  margin: 0 auto;
  padding: 25px;
  text-align: left;
}
/* line 406, ../sass/style.scss */
#contact #contact-wrap #contact-description p {
  float: left;
  width: 80%;
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 25px;
}
/* line 418, ../sass/style.scss */
#contact #locations {
  float: left;
  width: Calc(100% - 50px);
  padding: 100px 25px;
  overflow: hidden;
  background-color: #6bbaa7;
  padding-bottom: 100px;
}
/* line 425, ../sass/style.scss */
#contact #locations .location {
  float: left;
  width: Calc(50% - 13px);
  margin-top: 25px;
  margin-right: 25px;
  text-align: center;
}
/* line 431, ../sass/style.scss */
#contact #locations .location iframe {
  width: 450px;
  height: 350px;
  margin: 0 auto;
}
/* line 436, ../sass/style.scss */
#contact #locations .location .location-title {
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 36px;
  color: #000;
}
/* line 443, ../sass/style.scss */
#contact #locations .location .address {
  font-family: "Slabo 27px", serif;
  font-size: 18px;
  margin-bottom: 25px;
}
/* line 449, ../sass/style.scss */
#contact #locations .location:last-of-type {
  margin-right: 0px;
}

/* line 455, ../sass/style.scss */
#forms-container {
  width: 100%;
}
/* line 457, ../sass/style.scss */
#forms-container .form {
  float: left;
  width: Calc(33% - 50px);
  padding: 25px;
  text-align: center;
}
/* line 462, ../sass/style.scss */
#forms-container .form .form-inner {
  display: inline-block;
  text-align: left;
}
/* line 465, ../sass/style.scss */
#forms-container .form .form-inner .icon {
  float: left;
  width: 50px;
  height: auto;
  padding-right: 10px;
}
/* line 470, ../sass/style.scss */
#forms-container .form .form-inner .icon svg {
  fill: #6bbaa7;
}
/* line 474, ../sass/style.scss */
#forms-container .form .form-inner .title {
  margin-bottom: 24px;
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #6bbaa7;
}
/* line 481, ../sass/style.scss */
#forms-container .form .form-inner .description {
  clear: both;
  font-family: "Slabo 27px", serif;
  font-size: 18px;
  line-height: 32px;
  color: #000;
}

@media only screen and (max-device-width: 736px) {
  /* line 2, ../sass/mobile.scss */
  html, body, header {
    min-width: 0px;
  }

  /* line 7, ../sass/mobile.scss */
  header #site-title {
    float: none;
    width: 100%;
    text-align: center;
  }
  /* line 12, ../sass/mobile.scss */
  header #menu {
    overflow: hidden;
    float: none;
    width: 100%;
    text-align: center;
    background-color: #fff;
  }
  /* line 18, ../sass/mobile.scss */
  header #menu .menu-item {
    float: none;
    display: inline-block;
  }
  /* line 21, ../sass/mobile.scss */
  header #menu .menu-item a {
    font-size: 12px;
  }

  /* line 27, ../sass/mobile.scss */
  main {
    margin-top: 94px;
    padding-bottom: 25px;
  }

  /* line 33, ../sass/mobile.scss */
  #home #slider-wrapper {
    height: 300px;
  }
  /* line 36, ../sass/mobile.scss */
  #home #slider-wrapper .slider-image img {
    min-width: 500px;
    margin-top: 50%;
    transform: translateY(-50%);
  }
  /* line 43, ../sass/mobile.scss */
  #home #home-description {
    width: Calc(80% - 50px);
    left: 10%;
    font-size: 21px;
  }
  /* line 47, ../sass/mobile.scss */
  #home #home-description a {
    font-size: 18px;
  }
  /* line 52, ../sass/mobile.scss */
  #home #locations .location {
    width: 100%;
    margin-bottom: 25px;
  }
  /* line 55, ../sass/mobile.scss */
  #home #locations .location iframe {
    margin-bottom: 10px;
  }

  /* line 63, ../sass/mobile.scss */
  #About #about-graphic {
    position: relative;
    overflow: hidden;
    float: none;
    width: 100%;
    height: 200px;
    text-align: center;
  }
  /* line 70, ../sass/mobile.scss */
  #About #about-graphic img {
    position: relative;
    display: inline-block;
    left: 0;
    width: 150px;
    height: auto;
  }
  /* line 78, ../sass/mobile.scss */
  #About #about-text {
    float: none;
    width: 100%;
    padding-right: 0;
  }
  /* line 82, ../sass/mobile.scss */
  #About #about-text #about-title {
    text-align: center;
  }

  /* line 90, ../sass/mobile.scss */
  #Services #services-container .service {
    float: none;
    width: Calc(100% - 20px);
    padding: 25px 10px;
    text-align: center;
  }
  /* line 97, ../sass/mobile.scss */
  #Services #ailments {
    width: Calc(100% - 20px);
    padding: 25px 10px;
  }
  /* line 100, ../sass/mobile.scss */
  #Services #ailments .bowl-image {
    float: none;
    width: 100%;
    height: 100px;
    display: none;
  }
  /* line 106, ../sass/mobile.scss */
  #Services #ailments #ailments-description {
    width: 100%;
  }
  /* line 109, ../sass/mobile.scss */
  #Services #ailments .bowl-image:first-of-type {
    display: block;
  }
  /* line 112, ../sass/mobile.scss */
  #Services #ailments #ailments-container {
    width: 100%;
  }
  /* line 114, ../sass/mobile.scss */
  #Services #ailments #ailments-container .ailment {
    font-size: 21px;
  }

  /* line 122, ../sass/mobile.scss */
  #contact #contact-wrap {
    overflow: hidden;
  }
  /* line 124, ../sass/mobile.scss */
  #contact #contact-wrap #contacts {
    float: none;
    width: Calc(100% - 20px);
    padding: 25px 10px;
    text-align: center;
  }
  /* line 129, ../sass/mobile.scss */
  #contact #contact-wrap #contacts .contact {
    margin-bottom: 25px;
    float: none;
  }
  /* line 133, ../sass/mobile.scss */
  #contact #contact-wrap #contacts .contact:first-of-type {
    margin-right: 0px;
  }
  /* line 137, ../sass/mobile.scss */
  #contact #contact-wrap #contact-description {
    width: Calc(100% - 20px);
    padding: 25px 10px;
    text-align: center;
  }
  /* line 141, ../sass/mobile.scss */
  #contact #contact-wrap #contact-description p {
    width: 100%;
  }
  /* line 147, ../sass/mobile.scss */
  #contact #locations .location {
    width: 100%;
    margin-bottom: 25px;
  }
  /* line 150, ../sass/mobile.scss */
  #contact #locations .location iframe {
    margin-bottom: 10px;
  }
  /* line 154, ../sass/mobile.scss */
  #contact #locations .location:last-of-type {
    padding-left: 0px;
    margin-top: 50px;
  }

  /* line 162, ../sass/mobile.scss */
  #forms .form {
    width: 100%;
    float: none;
  }
}
